In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

In [5]:
proceso_2023_II = pd.read_csv('./2023-II.csv')
proceso_2024_I = pd.read_csv('./2024-I.csv')
proceso_2024_II = pd.read_csv('./2024-II.csv')

In [7]:
proceso_2023_II.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25832 entries, 0 to 25831
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Codigo               25832 non-null  int64
 1   Apellidos y Nombres  25832 non-null  object
 2   Escuela Profesional  25832 non-null  object
 3   Puntaje Final        25832 non-null  float64
 4   Merito               4079 non-null   float64
 5   Observacion          4740 non-null   object
 6   Proceso              25832 non-null  object
 7   Modalidad            25832 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.6+ MB

In [8]:
proceso_2024_I.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28862 entries, 0 to 28861
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Codigo                  28862 non-null  int64
 1   Apellidos y Nombres     28862 non-null  object
 2   Escuela Profesional     28862 non-null  object
 3   Puntaje Final           28862 non-null  object
 4   Merito                  2124 non-null   float64
 5   Observacion             2459 non-null   object
 6   Escuela Segunda Opcion  303 non-null    object
 7   Proceso                 28862 non-null  object
 8   Modalidad               28862 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 2.0+ MB